.idea
.ipynb_checkpoints
__pycache__

wordEmbeddingsLayers/*/*.bin
wordEmbeddingsLayers/*/*.bin.*
wordEmbeddingsLayers/*/*.tar
wordEmbeddingsLayers/*/*.tar.gz

.graphsImages/
.savedModels/

*argosmodel*

toxic-comments-detector